In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.DataFrame([["Vikram",23,20234],["Karan",23,23453]],columns=["shape","age","rollno"],index = ["A","B"])

In [4]:
x = data.groupby("age")

      shape  rollno
age
23   Vikram   20234

In [169]:
data.drop(axis=0,index="A")

   shape  age  rollno  xyz
B  Karan   23   23453   21

In [156]:
data["shape"]=="Karan"

A    False
B     True
Name: shape, dtype: bool

In [118]:
s1

0    True
dtype: bool

In [119]:
s2 = pd.Series(True)

In [120]:
s2

0    True
dtype: bool

In [122]:
s1[0] and s2[0]

True

In [128]:

record = {
  'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya' ],
  'Age': [21, 19, 20, 18, 17, 21],
  'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
  'Percentage': [88, 92, 95, 70, 65, 78]}

In [129]:
record

{'Name': ['Ankit', 'Amit', 'Aishwarya', 'Priyanka', 'Priya', 'Shaurya'],
 'Age': [21, 19, 20, 18, 17, 21],
 'Stream': ['Math', 'Commerce', 'Science', 'Math', 'Math', 'Science'],
 'Percentage': [88, 92, 95, 70, 65, 78]}

In [130]:
# create a dataframe
dataframe = pd.DataFrame(record, columns = ['Name', 'Age', 'Stream', 'Percentage'])

print("Given Dataframe :\n", dataframe)

Given Dataframe :
         Name  Age    Stream  Percentage
0      Ankit   21      Math          88
1       Amit   19  Commerce          92
2  Aishwarya   20   Science          95
3   Priyanka   18      Math          70
4      Priya   17      Math          65
5    Shaurya   21   Science          78

In [131]:
options = ['Math', 'Science']

In [150]:
(dataframe['Age'] == 21) & (dataframe["Stream"].isin(options))

0     True
1    False
2    False
3    False
4    False
5     True
dtype: bool

In [142]:
dataframe["Stream"].isin(options)

0     True
1    False
2     True
3     True
4     True
5     True
Name: Stream, dtype: bool

In [144]:
dataframe["Age"]==21

0     True
1    False
2    False
3    False
4    False
5     True
Name: Age, dtype: bool